.jeopardy-logo {
  font-family: gyparody, sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  text-align:center;
}

.nameplate {
  font-size:36px;
  text-transform: uppercase;
  line-height: normal;
}

.nameplate .jeopardy-logo {
  font-size:72px;
}

.category-title, .dollar-amount, .nameplate, form {
  font-family: nimbus-sans-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.clue-text, .answer {
  font-family: itc-benguiat, serif;
}

.answer {
  font-weight:700;
}

.loading {
  text-align: center;
}